/*News Slide*/
.news-slide-1 strong{
	color:#FFFFFF;
	position:absolute;
	bottom:10px;
	z-index:10;
	padding:0px 30px 10px 20px;
	padding-left:20px;
	/* font-weight:300; */
	line-height:22px;
}

.news-slide-1 i{
	position:absolute;
	bottom:25px;
	right:0px;
	z-index:10;
	font-size:12px;
	padding:0px 20px;
	color:#FFFFFF;
}

.news-slide-1 em{
	position:absolute;
	top:0px;
	padding:3px 15px;
	font-size:10px;
	font-style: normal;
	text-transform: uppercase;
	font-weight:700;
    color:#FFF;
}

.news-slide-1 span{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

.news-slide-2 em{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	z-index:10;
	text-align:center;
	font-weight:600;
}

.news-slide-2 strong{
	position:absolute;
	bottom:20px;
	margin-top:-10px;
	line-height:28px;
	width:100%;
	text-align:left;
	padding:0px 30px;
	z-index:10;
	color:#FFFFFF;
	font-size:18px;
	font-weight:500;
	text-shadow:0px 2px 0px #000000;
}

/*---Archve---*/
/*------------*/

.archive-box-content{display:none;}
.archive-box-current{display:block!important;}
.archive-box-title{
	font-size:21px;
	font-weight:600;
	color:#1f1f1f;
	height:40px;
	line-height:40px;
}

.archive-box-title em{
	display:block;
	text-align:right;
	margin-top:-38px;
	font-style: normal;
	font-size:12px;
	letter-spacing: 1px; 
	color:#b7b7b7;
	font-weight:400;
}

.archive-box-content a:first-child{margin-top:-5px!important;}
.archive-box-content a:last-child{ padding-bottom:0px;}
.archive-box-content a{line-height:40px;}
.archive-item-disabled{color:#cacaca!important;}

.archive-box-content a em{
	position:absolute;
	right:0px;
	font-size:11px;
	font-style:normal;
}
.archive-box-item em{color:#1f1f1f;}


/*News List*/

.news-list-item img{position:absolute; width:70px;	margin-top:2px;}
.news-list-item{
	min-height:93px;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:solid 1px rgba(0,0,0,0.1);
}

.news-list-item strong{
	padding-left:85px;
	display:block;
	font-size:13px;
	line-height:20px;
	font-weight:600;
	color:#1f1f1f;
}

.news-list-item span{
	display:block;
	padding-left:85px;
	font-size:10px;
	color:#989898;
}

.news-list-item span a{
	padding-left:5px;
	margin-left:5px;
	border-left:solid 1px rgba(0,0,0,0.2);
}
.news-list-item span i{margin-right:10px;}

/*News Columns*/
.news-col-item em{
	position:absolute;
	margin-top:-24px;
	font-size:10px;
	font-weight:600;
	text-transform: uppercase;
	padding:3px 10px;
	font-style: normal;
    color:#FFF;
}

.news-col-item strong{color:#1f1f1f; font-weight:500; padding-top:10px; display:block;}
.news-col-item{line-height:18px; margin-bottom:30px;}
.news-col-item span i{margin-right:10px;}

.news-col-item span{
	display:block;
	font-size:10px;
	padding:10px 0px 0px 0px;
	color:#989898;
}

/*News Tabs*/
.news-tabs a{line-height:40px; color:#666;}
.news-tabs{border-bottom:solid 1px rgba(0,0,0,0.05);}
.news-tabs-content{padding-top:30px;}

.theme-dark .news-col-item strong{color:#FFF;}
.theme-dark .news-list-item strong{color:#FFF;}
.theme-dark .archive-box-item em{color:#FFF;}
.theme-dark .news-list-item{border-bottom:solid 1px rgba(255,255,255,0.1);}