.header-logo {
    background-size: 28px 28px;
    width: 50px;
    background-image: url(../images/preload-logo.png);
}
.t-5{
  top:50px !important;  
}
.text-primary{
  color:#9AC119;
}
.active i, .active span {
  color: #9AC119!important;
  border-color: #9AC119!important;
}
.active{
  color: #9AC119!important;
  border-color: #9AC119!important;
  opacity:1 !important;
}
ul > li a{
  color:#868991;
}
ul > li a:active {
  color: #9AC119;
  font-weight: bold;
}
.line-1{
  line-height: 1.1;
}
.pl-22{
  padding-left: 5.2rem !important;
}