
.icon-halal:before { content: '\e800'; } /* '' */
.icon-destination-1:before { content: '\e801'; } /* '' */
.icon-destination:before { content: '\e802'; } /* '' */
.icon-culinery:before { content: '\e803'; } /* '' */
.icon-hotel:before { content: '\e804'; } /* '' */
.icon-culture:before { content: '\e805'; } /* '' */
.icon-promo:before { content: '\e806'; } /* '' */
.icon-event:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */